{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "flowtype",
  ],
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "lines-around-directive": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "flowtype/define-flow-type": 2,
    "flowtype/use-flow-type": 2,
    "flowtype/require-valid-file-annotation": [ 2, "always" ],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": ["**/graphql/**/*.js", "**/foundation/**/*.js"]
    }],
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-danger": 0,
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "everything-else",
        "render"
      ]
    }]
  }
}
