.DS_Store
node_modules
npm-debug.log

# serverless zip
.serverless

# generated schema.js files
graphql/schema.json
graphql/schema.graphql

coverage/

# build
build/
api/graphql
api/config.js

# vim
*.swp
