.DS_Store
node_modules
npm-debug.log
Users.json
Tweets.json
ESUsers.json
# serverless zip
.serverless
# webpack build files
.webpack
# eslint cache
.eslintcache
# local dynamodb
.dynamodb

# vim
*.swp
