{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "string-quotes": "single",
    "selector-pseudo-class-no-unknown": [true, "ignorePseudoClasses": ["global"]],
    "indentation": 2
  }
}
