{
  "extends": [
    "prettier",
    "prettier/react",
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "function-paren-newline": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "object-shorthand": "off",
    "no-plusplus": "off",
    "no-buffer-constructor": "off",
    "no-restricted-properties": "off",
    "no-param-reassign": "off",
    "no-await-in-loop": "off",
    "space-before-function-paren": "off",
    "no-console": "off",
    "func-names": "off"
  }
}
