.root {
  font-weight: 300;
  font-size: 10px;
  opacity: 0.62;
  font-variant: small-caps;
  display: block;

  &:focus,
  &:hover {
    opacity: 1;
    outline: 0;
  }

  &:active {
    opacity: 0.5;
  }
}

.icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.2rem;
}
